
body.sb-nav-fixed {
    font-family: 'Roboto', sans-serif;
  }
  
  
  .navbar-brand img:hover {
    transform: scale(1.05) rotate(-5deg); 
    transition: transform 0.2s ease-in-out; 
  }
  
  
  .sb-topnav {
      background-color: #08ac04;
      height: 65px !important; 
    }
     
    .sb-topnav .nav-link {
      color: white;
      font-weight: bold;
    }
    
    .sb-topnav .nav-link span {
      margin-left: 10px;
      vertical-align: middle;
    }
  
    .sb-topnav .dropdown-menu {
      background-color: #fbfbfb;
      color: white;
      border: none;
    }
    
    .sb-topnav .dropdown-item {
      padding: 10px 20px;
    }
    
    .sb-topnav .dropdown-item:hover {
      background-color: #08ac04;
      color:white;
    }
    
  .sb-sidenav .nav-link {
    transition: background-color 0.3s, color 0.3s; 
    
  }
  

  .sb-sidenav .nav-link:hover {
    background-color: #08ac04;
    border-radius: 25px; 
    color: white !important; 
    width: 90%;
    font-weight: bold;
  }
  
  .sb-sidenav .nav-link:hover .sb-nav-link-icon {
    color: white !important; 
  }
  
  .sb-nav-link-icon {
    color: #08ac04 !important;
  }
  
  
  .sb-sidenav-menu .nav-link {
    display: flex;
    align-items: center;
    justify-content: left;
    margin-left: 10px ;
  }
  
  .title-content h1 {
  
    color: rgb(71, 71, 71) !important;
    
  }   
  
  .btn-usuario {
    background-color:#08ac04 !important;
    border:none !important;
    width: 140px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
  }

  .btn-editar {

    background-color:#08ac04 !important;
    border:none !important;
    width: 200px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
  }
  
  .btn-usuario:hover {
    background-color: #0c8e0a !important;
  }
  
  .btn-cerrar {
    background-color:#08ac04 !important;
    border:none !important;
  }
  
  .btn-cerrar:hover {
    background-color: #0c8e0a !important;
  }
  
  .btn-cancelar {
    background-color: white !important;
    color:#4e4e4e;
  }
  
  .btn-cancelar:hover {
    background-color: #e2dfdf !important;
    color:#4e4e4e;
  }
  
  main {
    background-color: #fbfbfb;
    height: 100%;
    margin: 20px;
  
  }
  
  .container-fluid h1 {
    margin-top: 20px; 
    color: #08ac04;   
  }
  
  .container-fluid h2 {
    margin-top: 30px; 
    color: #101110;
  }