
.sb-topnav {
    background-color: #08ac04;
  }
   
  .sb-topnav .nav-link {
    color: white;
    font-weight: bold;
  }
  
  .sb-topnav .nav-link span {
    margin-left: 10px;
    vertical-align: middle;
  }

  .sb-topnav .dropdown-menu {
    background-color: #fbfbfb;
    color: white;
    border: none;
  }
  
  .sb-topnav .dropdown-item {
    padding: 10px 20px;
  }
  
  .sb-topnav .dropdown-item:hover {
    background-color: #08ac04;
    color:white;
  }
  



.sb-sidenav .nav-link {
  font-weight: bold; 
  transition: background-color 0.3s, color 0.3s; 
  border-bottom: 1px solid;
  color: #adb5bd !important;
}

.sb-sidenav .nav-link:hover {
  background-color: #e9ecef; 
  color: #adb5bd !important; 
}



#layoutSidenav_content {
  background-color: #f8f9fa;
}


main {
  background-color:#eef1f4;
  height: 100%;
  margin: 20px;

}

.container-fluid h1 {
  margin-top: 20px; 
  color: #08ac04;
}

.container-fluid h2 {
  margin-top: 30px; 
  color: #101110;
}

